<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="">
  <link rel="stylesheet" href="./css/cssReset.css">
  <link rel="stylesheet" href="./css/index.css">
  <title>Home</title>
</head>
<body>
  <div class="bg">
    <!-- nav-part -->
    <nav>
      <div class="center">
        <ul>
          <li><a href="#">Home</a></li>
          <li>
            <a href="#">List</a>
            <!-- 下拉菜单 -->
            <ol>
              <li>精灵图鉴</li>
              <li>属性介绍</li>
              <li>进化路线</li>
            </ol>
          </li>
          <li><a href="#">Card</a></li>
          <li><a href="#">Search</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </nav>
    <!-- nav-part end -->
    <section class="ball-part">
      <div class="center">
        <ul>
          <li>
            <img src="./img/ball/1.png" alt="">
            <a href="#">训练师登录</a>
          </li>
          <li>
            <img src="./img/ball/2.png" alt="">
            <a href="#">精灵图鉴</a>
          </li>
          <li>
            <img src="./img/ball/3.png" alt="">
            <a href="#">精灵卡片</a>
          </li>
          <li>
            <img src="./img/ball/4.png" alt="">
            <a href="#">精灵检索</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</body>
</html>