<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>list</title>
  <link rel="stylesheet" href="./css/cssReset.css">
  <link rel="stylesheet" href="./css/icon-style.css">
  <link rel="stylesheet" href="./css/list.css">
  <script src="./js/data.js"></script>
  <script src="./js/list.js"></script>
</head>
<body>
  <div class="list-part">
    <div class="center">
      <h1>pokemon列表</h1>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>图标</th>
            <th>名字</th>
          </tr>
        </thead>
        <tbody id="poke">

        </tbody>
      </table>
    </div>
  </div>
</body>
</html>