<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <link rel="stylesheet" href="./css/cssReset.css">
  <link rel="stylesheet" href="./css/login.css">
  <script src="./js/login.js"></script>
</head>
<body>
  <div class="login-part">
    <div class="center">
      <img src="./img/logo.jpg" alt="" class="logo">
      <div class="login-box">
        <div class="head">
          <img src="./img/user.jpeg" alt="">
        </div>
        <div class="panel">
          <input type="text" id="uname">
          <input type="password" id="upwd">
          <input type="button" value="login" id="btn">
        </div>
      </div>
    </div>
  </div>
</body>
</html>