<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>search</title>
  <link rel="stylesheet" href="./css/cssReset.css">
  <link rel="stylesheet" href="./css/search.css">
  <script src="./js/data.js"></script>
  <script src="./js/search.js"></script>
  <style>

  </style>
</head>
<body>
  <div class="search-part">
    <div class="center">
      <div class="search-box">
        <input type="text" id="search" placeholder="请输入小精灵名字或者ID">
        <input type="button" id="btn" value="提交">
      </div>
      <div class="search-panel" id="panel">

      </div>
    </div>
  </div>
</body>
</html>