* {
  margin: 0;
  padding: 0;
}
/* 去掉a标签的下划线 */
a {
  text-decoration: none;
}
/* 去掉列表的标识符 */
ul,ol {
  list-style: none;
}
/* 去掉input的默认样式, 包括轮廓线和边框*/
input {
  outline: none;
  border: none;
}
/* 去掉按钮的边框 */
button {
  border: none;
}
/* html默认字号 */
html {
  font-family:Tahoma,Arial,"Helvetica Neue","Hiragino Sans GB",Simsun,sans-self; 
  font-size: 16px;
}
/* 专门定义居中区域 宽度1000左右居中 */
.center {
  width: 1000px;
  margin: 0 auto;
}
/* 专门定义清除浮动的类名，供需要清除坍塌的父元素使用 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}